.header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: #fff;
    padding: 1rem 5%;
    display: fixed;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

.header .logo {
    font-size: 2rem;
    color: #000;
    font-weight: 500;
}

.header .navbar a {
    font-size: 1.5rem;
    color: #000;
    margin: 0 3rem;
    width: 140px;
    background-color: red;
}

.header .navbar a:hover {
    color: orangered;
}
.header .icons  {
    color: #000;
    margin-left: 1.5rem;
}

.hidden-menu {
    display: none;
}


#menu-bar {
    font-size: 2rem;
    padding: .5rem 1rem;
    border: .1rem solid #000;
    color: #000;
    border-radius: .3rem;
    cursor: pointer;
    display: none;
}


input[type="file"] {
    display: none;
}

.overflow {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overflowcart {
    background-color: rgba(0, 0, 0, 0.8);
    /* زينة الخلفية بلون أسود */
    position: fixed;
    /* تثبيت القائمة في الشاشة */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    /* يمكن تغييرها إلى "center" إذا كنت تريد وسط العناصر */
    align-items: flex-start;
    /* يمكن تغييرها إلى "center" إذا كنت تريد وسط العناصر */
    z-index: 1000;
}

.show_image {
    display: block;
    width: 1000px;
    height: 500px;
    border-radius: 10px;
    background-color: white;
}
.box{
    border: .1rem solid rgba(0, 0, 0, .1);
    border-radius: .5rem;
    text-align: center;
    position: relative;
    overflow: hidden;
    background: #f5f5f5;
    flex: 1 1 30rem;
}
.product .box-container .content{
    padding: 1.5rem;
}
.featured .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    border: .1rem solid rgba(0, 0, 0, .1);
    border-radius: .5rem;
    background: #f9f9f9;
    padding: 2rem;
    align-items: center;
    margin: 1.5rem 0;
}
.featured .row .content{
    flex: 1 1 40rem;
}
.featured .row .image-container{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    flex: 1 1 50rem;
}
.featured .row .image-container .small-image{
    width: 20%;
}
.featured .row .image-container .big-image{
    width: 80%;
    padding: 1rem;
}
.featured .row .image-container .small-image img{
    width: 100%;
    padding: 1rem;
    border: .1rem solid rgba(0, 0, 0, .1);
    cursor: pointer;
}
.featured .row .image-container .small-image img:hover{
    background: #ccc;
}
.featured .row .image-container .big-image img{
    width: 100%;
}
.featured .row .image-container .big-image img:hover{
    transform: scale(1.05);
}
.featured .row .content h3{
    font-size: 2.5rem;
    color: #000;
}
.featured .row .content .stars i{
    font-size: 1.7rem;
    color: orange;
    padding: .5rem 0;
}
.featured .row .content p{
    font-size: 1.5rem;
    color: #666;
    padding: 1rem 0;
}
.featured .row .content .price{
    font-size: 2.5rem;
    color: #000;
    font-weight: bolder;
}
.featured .row .content .price span{
    font-size: 1.5rem;
    color: orange;
    text-decoration: line-through;
}

@media screen and (max-width: 964px) {

    /* الهيدر هو اي دي الخاص للعنصر ناف والذي يحتوي على جميع العناصر */

    .hidden-menu{
        display: block;
    }
    /* هنا اخصص الروابط الانتقال السريعة */
    .header  {
        border-radius: 10px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease-in-out;
        /* تأثير الانتقال */
    }
    .header nav {
        display: flex;
        flex-direction: row;
        width: 100%;
        font-size: 1.2rem;
        /* عند إظهار القائمة تتحول إلى الحجم الأصلي */
    }
    .icons{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        font-size: 0.9rem;
    }
    /* هنا اضف كلاس لأظهار ايقونة القائمة عند الحاجة */
 

    /* يوكس يحتوي على العنوان الرئيسي ويحتوي على ايقونة القائمة */
    #box_title {
        width: 100%;
    }

    /* كلاس لإظهار ايقونة القائمة عند تصغير الشاشة */


    .show_button_from_menu {
        display: block;
    }

    .grub_item_button {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 300px;
    }

    .dataGrid-responve {
        max-width: 70%;
    }

    #box-features-home {
        flex-direction: column;
    }

    #responev-show-products {
        grid-template-columns: repeat(2, 1fr);
    }

    #menu_cart_responev {
        flex-direction: column;
    }

    #menu_cart_responev img {
        width: 40%;
    }

    #menu_cart_responev #menu_grub_cart {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }



}


/* جعل صفحة تسجيل الدخول متوافقة مع شاشات الهاتف */
.img_background {
    width: 60%
}

@media screen and (max-width: 896px) {
    .hidden-menu{
        display: block;
    }
    .header  {
        display: none;
        flex-direction: column;
        width: 100%;
        height: 350px;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
        /* الظل */
        transition: transform 0.3s ease-in-out;
        /* تأثير الانتقال */
    }
    .header nav {
        display: flex;
        align-content: center;
        margin: 10px;
        justify-content:  center;
        flex-direction: column;
        text-align: center;
        font-size: 2rem;
        /* عند إظهار القائمة تتحول إلى الحجم الأصلي */
    }
    #content_login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header.show {  
        display: flex;
    }

    .img_background {
        width: 450px;
    }
    .icons span{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        border:  1px solid black;   
        margin:5px ;
        width: 100%;
        height: 50px;
    }
    .sub_icons{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        border:  1px solid black;   
        width: 100%;
    }
}

/* تجهيز الفووتر  */
#footer {
    height: 300px;
    background-color: #000;
    padding: 50px;
}

#box_footer {
    width: 200px;
}

/* تغيير تخطيط الفوتر عند حجم الشاشة الصغيرة (الهواتف) */
@media (max-width: 680px) {
    #footer {
        display: flex;
        flex-direction: column;
        gap: 40px;
        justify-content: center;
        align-items: center;
        height: 700px;
    }

}